.navbar,
footer {
  background-color: rgba(0, 0, 0, 0.801);
}
.navbar a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.cta {
  font-size: larger;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  padding: 2px;
}

.view {
  background-color: rgb(192, 14, 14);
}

.on-sale {
  background-color: rgb(40, 119, 44);
}

.reviews {
  background-color: rgba(128, 128, 128, 0.253);
}

#guitar-list {
  background-color: rgba(66, 68, 68, 0.281);
}

.footer {
  text-align: center;
  color: white;
}
